<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Teacher</title>
    <link rel="stylesheet" href="{% static "main1.css" %}">

</head>
<body>
    <h1>Are you sure you want to delete {{ teacher.f_name }} {{ teacher.l_name }}?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'teacher_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</body>
</html>
